<div class="content-block-title" data-bind="i18n: {'key': '%MODULENAME%/HEADING_SETTINGS_TAB'}"></div>
<div class="content-block content-block-openpgp-settings">
	<div class="block block-strong">
		<div class="row">
			<span class="value">
				<label class="custom_checkbox" data-bind="css: {'checked': enableOpenPgp}">
					<span class="icon"></span>
					<input type="checkbox" id="enableOpenPgp" data-bind="checked: enableOpenPgp" />
				</label>
				<label for="enableOpenPgp" data-bind="i18n: {'key': '%MODULENAME%/LABEL_ENABLE_OPENPGP'}"></label>
			</span>
		</div>
	</div>
	<div class="block block-strong">
		<p><a href="#" class="button button-fill" data-bind="click: save, i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE'}, visible: !isSaving()"></a></p>
		<p><a href="#" class="button button-fill color-gray" data-bind="i18n: {'key': 'COREWEBCLIENT/ACTION_SAVE_IN_PROGRESS'}, visible: isSaving()"></a></p>
	</div>
</div>
<div class="content-block content-block-openpgp-settings" data-bind="visible: enableOpenPgp">
	<div class="block block-strong">
		<div class="data-table-title">
			<b class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_PUBLIC_KEYS_FROM_PERSONAL_CONTACTS'}"></b>
			<div class="value" data-bind="i18n: {'key': '%MODULENAME%/INFO_NO_PUBLIC_KEYS_FROM_PERSONAL_CONTACTS'},
				 visible: keysFromPersonalContacts().length === 0"
			></div>
		</div>
		<div class="data-table card">
			<table>
			  <tbody data-bind="foreach: keysFromPersonalContacts">
				<tr>
					<td class="col label-cell" data-bind="text: $data.getUser()"></td>
					<td class="col label-cell">
						<p><a href="#" class="button button-raised"
							  data-bind="i18n: {'key': '%MODULENAME%/ACTION_VIEW_KEY'},
							  click: function () { $parent.showArmor($data); }"
						></a></p>
						<p><a href="#" class="button button-raised"
							  data-bind="i18n: {'key': '%MODULENAME%/ACTION_DELETE_KEY'},
							  click: function () { $parent.removeKeyFromContacts($data); }"
						></a></p>
					</td>
				</tr>
			  </tbody>
			</table>
		</div>
	</div>
</div>
<div class="content-block content-block-openpgp-settings" data-bind="visible: enableOpenPgp">
	<div class="block block-strong">
		<div class="data-table-title">
			<b class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_PUBLIC_KEYS'}"></b>
			<div class="value" data-bind="i18n: {'key': '%MODULENAME%/INFO_EMPTY_PUBLIC_KEYS'},
				 visible: publicKeysFromThisDevice().length === 0"
			></div>
		</div>
		<div class="data-table card">
			<table>
			  <tbody data-bind="foreach: publicKeysFromThisDevice">
				<tr>
					<td class="col label-cell" data-bind="text: $data.getUser()"></td>
					<td class="col label-cell">
						<p><a href="#" class="button button-raised"
							  data-bind="i18n: {'key': '%MODULENAME%/ACTION_VIEW_KEY'},
							  click: function () { $parent.showArmor($data); }"
						></a></p>
						<p><a href="#" class="button button-raised"
							  data-bind="i18n: {'key': '%MODULENAME%/ACTION_DELETE_KEY'},
							  click: function () { $parent.removeKeyFromThisDevice($data); }"
						></a></p>
					</td>
				</tr>
			  </tbody>
			</table>
		</div>
	</div>
</div>
<div class="content-block content-block-openpgp-settings" data-bind="visible: enableOpenPgp">
	<div class="block block-strong">
		<div class="data-table-title">
			<b class="label" data-bind="i18n: {'key': '%MODULENAME%/LABEL_PRIVATE_KEYS'}"></b>
			<div class="value" data-bind="i18n: {'key': '%MODULENAME%/INFO_EMPTY_PRIVATE_KEYS'},
				 visible: privateKeysFromThisDevice().length === 0"
			></div>
		</div>
		<div class="data-table card">
			<table>
			  <tbody data-bind="foreach: privateKeysFromThisDevice">
				<tr>
					<td class="col label-cell" data-bind="text: $data.getUser()"></td>
					<td class="col label-cell">
						<p><a href="#" class="button button-raised"
							  data-bind="i18n: {'key': '%MODULENAME%/ACTION_VIEW_KEY'},
							  click: function () { $parent.showArmor(key); }"
						></a></p>
						<p><a href="#" class="button button-raised"
							  data-bind="i18n: {'key': '%MODULENAME%/ACTION_DELETE_KEY'},
							  click: function () { $parent.removeKeyFromThisDevice($data); }"
						></a></p>
					</td>
				</tr>
			  </tbody>
			</table>
		</div>
	</div>
	<div class="block block-strong">
		<p><a href="#" class="button button-fill" data-bind="click: exportAllPublicKeys, i18n: {'key': '%MODULENAME%/ACTION_EXPORT_ALL_PUBLIC_KEYS'}"></a></p>
		<p><a href="#" class="button button-fill" data-bind="click: importKey, i18n: {'key': '%MODULENAME%/ACTION_IMPORT_KEY'}"></a></p>
		<p><a href="#" class="button button-fill" data-bind="click: generateNewKey, i18n: {'key': '%MODULENAME%/ACTION_GENERATE_NEW_KEY'}"></a></p>
	</div>
</div>
